{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content6 %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
{% blocktrans %}
 {% endblocktrans %}

<!-- <img src="{% static 'icon/sn11.jpg' %}" width="100%" height="32%" alt="" class="mb-2"> -->
<img src="{% static 'icon/skil_note_logo.jpg' %}" width="100%" height="34%" alt="" class="mb-2">


{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-info btn-block mb-1">Login</button>
</form>
<a class="primaryAction btn btn-outline-primary float-right btn-block" href="{{ signup_url }}">회원 가입</a>
<br><br><br>

{% endblock %}

{% block sidearea6 %}
flutter+firebase
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-flutter.co.kr/skilnote1/myshortcut/flutter-instagram-level1/1">flutter-instagram-level1</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://skilnote-for-flutter.co.kr/skilnote1/myshortcut/flutter-instagram-level2/1">flutter-instagram-level2</a>
        </td>
    </tr>
</table>

중급:
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-flutter.co.kr/skilnote1/myshortcut/flutter-level3/1">flutter-level3</a>
        </td>
    </tr>
</table>

미니 프로젝트
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-flutter.co.kr/skilnote1/myshortcut/flutter_dust/1">flutter_dust</a>
        </td>
    </tr>
</table>

<pre>
단축키:
코드 복사 : 제목 더블 클릭
파일 이름 복사 : 파일 이름 옆에 버튼 (total: 전체 파일 이름, file: 파일 이름만)
페이지 이동 : ctrl + 방향키

기타 기능:
유저 목록에서 노트 복사(전체) 하기,
유저 목록에서 점수 평가 하기 (로그인 필요)
</pre>

{% endblock %}



<script type="text/javascript">
{% block extra_js %}

    $(document).ready(function(){
        console.log("로그인 페이지")
    });

{% endblock %}
</script>
